
.nav {

    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.cardMediaStyle {
    height: 200px;

}

.cardStyle {
    min-width: 300px;
    max-width: 300px;
    min-height: 380px;
    max-height: 380px;
    margin: 10px;
}

.concerts__cards-wrapper
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.concerts__h1 {
    font-family: 'Permanent Marker', cursive;
}

.addConcert__form {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none !important;

}

body
{
    font-family: 'Ubuntu', sans-serif;
}

.loginByGoogle_button
{
    position: relative;
    top:30vh;

}

.concerts__textfilter
{
   width: 80%;
margin: auto;

}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color:#3f50b5;
    width: 100%;
    text-align: center;
    color: white;
    border-radius:4px;
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 0.95;
}

.custom-file-upload:hover
{
    opacity:1;

}